.p-contact__container {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  align-items: center;
}

.p-contact,
app-card {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .p-contact__container {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .p-contact__container {
    margin: 0 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .p-contact__container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 992px) {
  .p-contact__container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 1200px) {
  .p-contact__container {
    margin-left: 20%;
    margin-right: 20%;
  }
}
