$dark-gray: #9b9b9b;
$dark-blue: #28648a;
$white: #ffffff;
$dark-white: #f5f5f5;
$whitish-blue: #eef3f6;

// background
$background-page: $dark-white;
$background-card: $white;
$background-card--middle: $dark-blue;
$background-card--button-hover: $dark-blue;
$background-card--button: $whitish-blue;
$background-nav: $white;
$background-nav--button-home: $dark-blue;

// color
$color-card--button-hover: $whitish-blue;
