@import '../../../styles/config.scss';

.c-nav__container {
  padding: 1rem;
  padding-bottom: 0;
  background-color: $background-nav;
  margin-bottom: 2rem;

  .c-nav {
    display: flex;
    flex-direction: row;

    .c-nav__home,
    .c-nav__menu {
      display: flex;
      justify-content: flex-start;
      text-align: center;
      width: 25%;

      img {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }

    .c-nav__menu {
      justify-content: flex-end;
      visibility: hidden;
    }

    .popup-menu {
      @extend .u-text-h2;
      position: absolute;
      display: none;
      text-transform: uppercase;
      top: 5rem;
      background: $whitish-blue;
      padding: 1rem 2rem;
      border-radius: 6px;
      right: 1rem;
      border: $dark-blue solid 2px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        margin-right: 2rem;
      }
      div.active {
        filter: brightness(0) saturate(100%) invert(30%) sepia(54%) saturate(616%) hue-rotate(160deg) brightness(98%)
          contrast(88%);
        border-bottom: $dark-blue 3px solid;
      }
      div:hover {
        opacity: 0.5;
        cursor: pointer;
      }

      img {
        margin-right: 0.5rem;
        width: 20px;
        height: 20px;
        filter: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(435%) hue-rotate(143deg) brightness(88%)
          contrast(50%);
      }
    }

    .c-nav__main {
      width: 50%;
      display: inline-block;

      .c-nav__links {
        @extend .u-text-h2;
        text-transform: uppercase;

        span {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding: 1rem 0;
          margin-right: 2rem;
        }
        span.active {
          filter: brightness(0) saturate(100%) invert(30%) sepia(54%) saturate(616%) hue-rotate(160deg) brightness(98%)
            contrast(88%);
          border-bottom: $dark-blue 3px solid;
        }
        span:hover {
          opacity: 0.5;
          cursor: pointer;
        }

        img {
          margin-right: 0.5rem;
          width: 20px;
          height: 20px;
          filter: brightness(0) saturate(100%) invert(81%) sepia(0%) saturate(435%) hue-rotate(143deg) brightness(88%)
            contrast(50%);
        }
      }
      .c-nav__title {
        @extend .u-text-h1;
        margin: 1rem 0px;
      }
    }

    .c-nav__button {
      width: 3.2rem;
      height: 3.2rem;
      background: $background-nav__button-home;
      border: none;

      img {
        filter: brightness(0) saturate(100%) brightness(0) invert(1);
      }

      &:hover {
        transition: 0.5;
        border: $background-nav__button-home solid 2px;
        background: $background-nav;
        cursor: pointer;
        img {
          filter: brightness(0) saturate(100%) invert(35%) sepia(13%) saturate(2148%) hue-rotate(160deg) brightness(94%)
            contrast(92%);
        }
      }
    }

    .round {
      border-radius: 50px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .c-nav__container {
    .c-nav {
      .c-nav__main {
        .c-nav__title {
          text-align: center;
        }
        .c-nav__links {
          display: none;
        }
      }

      .c-nav__menu {
        visibility: visible;
      }

      .menu-visible {
        display: block;
      }
    }
  }
}
