/* You can add global styles to this file, and also import other style files */
@import './styles/config.scss';

body,
html {
  padding: 0;
  margin: 0;
  height: auto !important;
  min-height: 100vh !important;
  background: $background-page;
  height: 100%;

  *:focus {
    outline: none;
  }
}
